*{
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Red Rose', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Red Rose', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 76px 4px;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 5;
}
nav > a{
  padding: 8px 40px 0 0;
  text-decoration: none;
  color: #434343;
  font-size: 20px;
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 4px 0;
}
.navbar > button{
  min-width: 170px;
  height: 48px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 4px 0;
  cursor: pointer;
}
.midbar{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.midbar > img{
  margin: 8px 0;
}
.cards{
  display: inline-block;
  width: 292px;
  height: 372px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border: 1px solid #D7D7D7;
  border-radius: 15px;
  margin: 12px 0;
}
div > span{
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}
#span{
  font-weight: 700;
}
.cardList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 48px 64px;
}
.cardDisplay{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0;
  padding: 0;
}
.eightCards{
  margin: 24px 64px;
}
.eightCards > h2{
  text-align: center;
  padding: 0;
  margin: 0;
}
#rating{
  display: flex;
  justify-self: left;
  margin: 8px 0 0 16px;
}
.cards > img{
  padding: 16px 0 0 16px;
}
.cardtext{
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  padding: 5px 0;
}
.topcontent{
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 72px 80px 68px;
}
#textandsearch{
  text-align: left;
  max-width: 636px;
  margin-right: 72px;
}
#textandsearch > h1{
  margin: 24px 0;
}
#textandsearch > p{
  margin: 24px 0;
}
h1{
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #434343;
}
h1 > span{
  color: #A02279;
  font-weight: 700;
}
p{
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
}
.search{
  display: flex;
  align-items: center;
}
.search > input{
  font-family: 'Red Rose';
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
  width: 66%;
  min-width: 256px;
  height: 54px;
  padding-left: 16px;
  margin: 24px 0;
}
#search{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  width: 33%;
  min-width: 72px;
  height: 56px;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
#firstcol{
  padding-top: 90px;
}
#grid{
  display: grid;
  gap: 0 4px;
  grid-template-columns: 235px 235px;
  margin: 24px 0 0;
}
.prefooter{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(496px, 1fr));
  background-color: #A02279;
}
.picdiv{
  height: 524px;
  margin: 80px 0;
  position: relative;
}
#fi{
  position: absolute;
  right: 120px;
  top: 0px;
  z-index: 1;
}
#si{
  position: absolute;
  right: 350px;
  top: 160px;
  z-index: 2;
}
#ti{
  position: absolute;
  right: 100px;
  top: 260px;
  z-index: 3;
}
.textdiv{
  text-align: left;
  margin: 80px 0 0 80px;
}
.textdiv>p{
  width: 80%;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.textdiv > h1{
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.textdiv > button{
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border-radius: 8px;
  border: none;
  width: 156px;
  height: 48px;
  text-decoration: none;
  color: #A02279;
  margin-top: 32px;
}
#footer{
  background: #1D1D1E;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  padding: 48px 32px;
}
#logocol{
  display: block;
  flex-direction: row;
  justify-content: left;
  margin: 16px 0 0 36px;
}
.social{
  display: block;
  justify-content: left;
  align-items: center;
}
.copy{
  display: flex;
  justify-content: left;
  align-items: center;
}
.copy > p{
  margin-left: 16px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.social > img{
  padding: 100px 48px 40px 0;
}
a > h3{
  color: #FFFFFF;
}
.footerlinks > a{
  color: #F1F3F9;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  text-decoration: none;
}
.footerlinks{
  display: flex;
  flex-direction: column;
  margin-right: 64px;
}
button{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
#aux{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 24px 56px;
}
#aux > a{
  text-decoration: none;
  color: #434343;
  margin: 12px 4px;
}
#location{
  display: flex;
  align-items: center;
  width: 161px;
  height: 48px;
  border: 1px solid #B4B4B4;
  padding-left: 16px;
  border-radius: 8px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}
#location > input{
  width: 100px;
  border: none;
  font-family: 'Red Rose';
  outline: none;
}
h2{
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  margin-top: 40px;
}
.connectWallet{
  width: 600px;
  height: 326px;
  background: #FFFFFF;
  border-radius: 16px;
  text-align: left;
  margin: auto;
  position: absolute;
  top: 150px;
  left: 360px;
}
.bkg{
  background: rgba(64, 64, 64, 0.3);
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.connectWallet > p{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 32px;
}
.connect{
  display: flex;
  justify-content: space-between;
  margin: 24px 32px;
  padding: 16px 0 0 0;
}
.connect > h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}
.connect > img{
  cursor: pointer;
}
.meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #F8F9FA;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  margin: 16px 32px;
}
.wallet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  margin: 16px 32px;
}
hr{
  border: 1px solid #CFD8DC;
}

@media (max-width: 980px){
  .connectWallet{
    position: absolute;
    top: 200px;
    left: 64px;
  }
}

@media (max-width: 800px){
  .connectWallet{
    width: 448px;
  }
  .picdiv{
    width: 500px;
    height: 420px;
    margin: 64px 0;
    padding: 0 4px;
  }
  #fi, #si, #ti{
    width: 70%;
  }
  #fi{
    right: -40px;
    top: 0;
  }
  #si{
    right: 28px;
    top: 90px;
  }
  #ti{
    right: -32px;
    top: 130px;
  }
}

@media (max-width: 575px){
  .navbar{
    padding: 16px;
    margin: 0;
  }
  .midbar{
    margin: 0;
    padding: 2px;
  }
  .topcontent{
    padding: 16px;
    margin: 0;
  }
  #textandsearch{
    margin-right: 0;
  }
  .eightCards, .cardList{
    padding: 0 16px;
    margin: 0;
  }
  .cardDisplay{
    justify-content: center;
  }
  .prefooter{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    background-color: #A02279;
    margin: 0;
    padding: 2px;
  }
  .textdiv{
    margin: 64px 0 0 0;
    padding: 0 4px 0 16px;
    justify-content: center;
  }
  .picdiv{
    width: 300px;
    height: 320px;
    margin: 64px 0;
    padding: 0 4px;
  }
  #fi, #si, #ti{
    width: 70%;
  }
  #fi{
    right: -40px;
    top: 0;
  }
  #si{
    right: 68px;
    top: 90px;
  }
  #ti{
    right: -32px;
    top: 130px;
  }
  #logocol{
    margin: 12px 0;
  }
  .footerlinks{
    padding: 8px;
  }
  #grid{
    grid-template-columns: 164px 164px;
  }
  #firstcol, #secondcol{
    width: 160px;
    margin: 0;
  }
  #firstcol img{
    width: 100%;
  }
  #secondcol img{
    width: 100%;
  }
  #aux{
    margin: 16px;
  }
  .connectWallet{
    position: absolute;
    top: 200px;
    left: 20px;
    width: 324px;
  }
}